.label::after{
    content: "*";
    color: red;
}
.star-rating label {
    font-size: 2rem;
    color: #ccc; 
    margin: 0 0.1rem; 
  }

  .star-rating input:checked ~ label {
    color: gold; 
  }
  .star-rating {
    direction: rtl; 
    display: inline-flex;
  }

  .star-rating input {
    display: none; 
  }
.usage1{
  background-color: lightgrey;
  padding: 10px 10px 0px;
}

.satisfy{
  text-align: center;
  padding: 10px 0px 0px 0px;
}
.sixth-row{
  text-align: center;
  
}
.content1{
  margin: 40px 0px 40px 0px;
}